*{
    padding: 0;
    margin: 0;
    background: #211e34;
}

html{
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

.container{
    height: 100%;
    width: 100%;
    padding: 40px;
}

.label{
    display: block;
    font-size: 25px;
    color: white;
}

.input{
    height: 45px;
    width: 50%;
    padding: 5px;
    margin: 0 0 20px 0;
    background: #3d3a4e;
    border: 0;
    color: #ffffff;
    border-radius: 8px;
}

.input::placeholder{
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}


.botao{
    height: 70px;
    width: 25%;
    margin-top: 25px;
    border: 0;
    cursor: pointer;
    background: #3d3a4e;
    border-radius: 10px;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

.mensagem{
    height: 150px;
    width: 500px;
    margin-top: 30px;
    border-radius: 8px;
    padding: 10px;
    background: #3d3a4e;
    color: white;
}